$color-blue1: #deecfc;
$color-blue2: #b9ceeb;
$color-blue3: #87a8d0;
$color-blue4: #69779b;
$color-purple1: #c3b4d2;
$color-purple2: #9692af;
$color-mint1: #d7eaea;
$color-mint2: #acdbdf;
$color-white: #ffffff;
$color-black: #000000;
@mixin container($bg: $color-blue1) {
    width: 100vw;
    min-height: 100vh;
    background-color: $bg;
    padding: 1rem;
}
