@use '../reset';

.makeTitleImg_wrapper {
    width: 100%;
    height: 100%;
}
.makeTitleImg_title {
    width: 20rem;
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--gowun);
}

.makeTitleImg_input {
    width: 25rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    >input {
        width: 15rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }
    >button {
        font-family: var(--gowun);
        width: 5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        background-color: reset.$color-blue2;
        &:hover {
            cursor: pointer;
            background-color: reset.$color-blue3;
            color: white;
        }
    }
}
.makeTitleImg_canvas {
    margin: 2rem auto; 
    text-align: center;
}
.makeTitleImg_btn {
    display: flex; 
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
    >div:nth-child(3) {
        padding: 0.5rem;
        background-color: white;
        margin: 0 1rem;
        border-radius: 1rem;
        &:hover{
            cursor: pointer;
            background-color: reset.$color-blue2;
            color: white;
        }
    }
}
.makeTitleImg_changeBtn{
    display: flex;
    background-color: white;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-radius: 1rem;

    >div {
        padding: 0.5rem;
    }

    >div:nth-child(2){
        &:hover {
            cursor: pointer;
            color: reset.$color-blue2;
        }
    }
    >div:nth-child(3){
        &:hover {
            cursor: pointer;
            color: reset.$color-blue2;
        }
    }
}