@use "../reset";

.makeTitleImg_wrapper {
    width: 100%;
    height: 100%;
}
.makeTitleImg_title {
    width: 20rem;
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--gowun);
}

.makeTitleImg_input {
    width: 25rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    > input {
        width: 15rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
    }
    > button {
        font-family: var(--gowun);
        width: 5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        background-color: reset.$color-blue2;
        &:hover {
            cursor: pointer;
            background-color: reset.$color-blue3;
            color: white;
        }
    }
}
.makeTitleImg_canvas {
    margin: 2rem auto;
    text-align: center;
}
.makeTitleImg_controlBtn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
}
@mixin btn() {
    padding: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    margin: 0 0.5rem;
}
.makeTitleImg_changeFontColorBtn {
    @include btn();
    display: flex;
}
.makeTitleImg_changeBackColorBtn {
    @include btn();
    display: flex;
}
.makeTitleImg_changeFontSizeBtn {
    @include btn();
    display: flex;

    > div {
        padding: 0 0.5rem;
    }

    > div:nth-child(n + 2) {
        &:hover {
            cursor: pointer;
            color: reset.$color-blue2;
        }
    }
}
.makeTitleImg_changefontBtn {
    @include btn();

    &:hover {
        cursor: pointer;
        background-color: reset.$color-blue2;
        color: white;
    }
}
.makeTitleImg_copyBtn {
    @include btn();
    &:hover {
        cursor: pointer;
        background-color: reset.$color-blue2;
        color: white;
    }
}
